    <div class="container-fluid">
        <!--Title-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuItems">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Events Look Up</a>
        </div>

        <!--Menu Items-->
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#" ng-click="loginModal()">Sign In</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>