<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a id="border-line" href="#">
                <img class="img-profile img-circle" ng-src="{{profileImage}}">
                <label>Prasanth Ramineni</label>
            </a>
        </li>
    </ul>
    <ul class="sidebar-nav">
        <li><a href="#">Profile</a></li>
        <li><a href="#">My Events</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
    <ul class="sidebar-nav">
        <li>
            <a href="#">Invite Friends</a>
        </li>
    </ul>
</div>