<!DOCTYPE html>
<html ng-app="EventLookUp">
<head>
    <meta charset="UTF-8">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="/js/angularApp.js"></script>

    <title>Event Look Up Manager</title>
</head>
<body ng-controller="LoginController">

<nav class="navbar navbar-inverse">
    <!-- <div ng-include="'header.ejs'"></div> -->
    <header></header>
</nav>
<div class="container-fluid">
    <div class="col-md-9">
        <h1></h1>
    </div>
    <div class="col-md-3">
        <div class="section">
            <form role="form">
                <fieldset>
                    <legend align="left" class="align-form">Sign Up</legend>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </fieldset>
            </form>
            <div class="footer">
                <button class="btn btn-success btn-block">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>